.FCcontainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 15px auto;
  background-color: #f9f9f9;
}

/* Left: Title History */
.listtitle{
  flex: 1;
  min-width: 200px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.1);
}

/* Right: Form Upload File PDF */
.uploadfile{
  flex: 2;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #1e90ff;
}

ul{
  list-style-type: none;
}

ul li{
  margin-top: 10px;
  margin-bottom: 10px;
}
ul li a {
  text-decoration: none;
  color: #086db4;
}
/* Display Q&A Flashcard */
.blockquote{
  background-color: #ecf5fd;
  border-left: 4px solid #1e90ff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Display one card*/
.containercard{
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


.labelscard{
  margin-top: 20px;
  font-size: 18px;
}

.flashcard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  overflow-y: auto;
  border: 2px solid #007BFF;
  border-radius: 10px;
  padding: 40px;
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
  background-color: #f0f8ff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  min-height: 100px;
  cursor: pointer;
  display: none;
}

.front, .back{
  display: none;
}

button{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: #ffffff;
}

button:hover {
  background-color: #0056b3;
}

.cancelbtn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f0f8ff;
  border: 2px solid red;
  color: #000000;
  margin: 10px;
  cursor: pointer;
}

.cancelbtn:hover{
  background-color: red;
  color: #ffffff;
}

.continuebtn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f0f8ff;
  border: 2px solid #1e90ff;
  color: #000000;
  margin: 10px;
  cursor: pointer;
}

.continuebtn:hover{
  background-color:  #1e90ff;
  color: #ffffff;
}

@media (max-width: 868px) {
  .FCcontainer{
    gap: 5px;
  }
}